body,
html {
    font-family: 'Montserrat', sans-serif;
}


.container-fluid{
    padding: 70px 150px 10px 150px;
}

table{
    background-color: whitesmoke;
}

table thead{
    background-color: rgb(255, 217, 0);
    color: whitesmoke;
}